body {
  margin: 0;
}

a {
  text-decoration: none;
}

.App {
  height: 100vh;
}

header {
  position: relative;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  text-align: center;
}

header > img {
  margin-top: 20px;
  height: 120px;
  width: 120px;
}

.custom-shape-divider-top-1635830287 {
  position: relative;
  top: 6.2%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1635830287 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 147px;
}

.custom-shape-divider-top-1635830287 .shape-fill {
  fill: #5683b6;
}

.App > .Iz_download {
  position: relative;
  top: -1%;
  width: 100%;
  left: 0%;
  height: 65vh;
  background-color: #5683b6;
}

.App > .Iz_download > .how_play {
  position: relative;
  top: 0;
  height: 75vh;
  width: 95%;
  left: 5%;
}

.App > .Iz_download > .how_play h1 {
  font-family: 'NanumSeA';
  font-size: 4rem;
}

.App > .Iz_download > .how_play p {
  font-family: 'Gothic A1', sans-serif;
  font-size: 1.3rem;
}

.App > .Iz_download > .how_play > .down_button {
  text-align: center;
  margin-top: 50px;
}

.App > .Iz_download > .how_play > .down_button Button {
  height: 85px;
  width: 200px;
  font-size: 1.5rem;
  z-index: 2;
  background: rgb(11, 247, 173);
  background: linear-gradient(90deg, rgba(11, 247, 173, 1) 0%, rgba(21, 169, 224, 1) 100%, rgba(0, 255, 231, 1) 100%);
}

.custom-shape-divider-top-1635908304 {
  position: relative;
  top: -5%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1635908304 svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 186px;
}

.custom-shape-divider-top-1635908304 .shape-fill {
  fill: #5683b6;
}

.App > .pjt_childabuse {
  position: relative;
  top: 0%;
  /* height: 225vh; */
  width: 95%;
  left: 5%;
}

.App > .pjt_childabuse h1 {
  font-family: 'NanumSeA';
  font-size: 4rem;
}

.App > .pjt_childabuse p {
  font-family: 'Gothic A1', sans-serif;
  font-size: 1.3rem;
}

.App > .pjt_childabuse > .child_graph {
  position: relative;
  width: 100%;
  text-align: center;
}

.App > .pjt_childabuse > .child_graph img {
  width: 60%;
  margin-top: 20px;
}

.App > .pjt_childabuse > .child_table {
  position: relative;
  width: 100%;
  text-align: center;
}

.App > .pjt_childabuse > .child_table img {
  width: 40%;
  margin-top: 20px;
}

.App > .pjt_childabuse > .graph_from {
  text-align: end;
  margin-right: 80px;
}

.App > .pjt_childabuse > .childabuse_raw {
  text-align: center;
}

.App > .pjt_childabuse > .childabuse_raw p {
  font-family: 'Gothic A1', sans-serif;
  margin-top: 80px;
  margin-bottom: 0;
  font-size: 2rem;
}

.App > .pjt_childabuse > .childabuse_raw h2 {
  font-family: 'Gothic A1', sans-serif;
  margin-top: 20px;
  font-size: 4rem;
}

.App > .pjt_childabuse > .childabuse_raw h6 {
  font-family: 'Gothic A1', sans-serif;
  margin-top: 20px;
  margin-bottom: 80px;
  font-size: 1.3rem;
}

.custom-shape-divider-bottom-1635915666 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1635915666 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 138px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1635915666 .shape-fill {
  fill: #99b5d4;
}

.App > .whatisIz {
  position: relative;
  width: 100%;
  height: 200vh;
  top: -7%;
  background-color: #99b5d4;
}

.App > .whatisIz > .Iz_report {
  position: relative;
  top: 3%;
  width: 95%;
  left: 5%;
}

.App > .whatisIz > .Iz_report h1 {
  font-family: 'NanumSeA';
  font-size: 4rem;
}

.App > .whatisIz > .Iz_report p {
  font-family: 'Gothic A1', sans-serif;
  font-size: 1.3rem;
}

.App > .whatisIz > .Iz_report > ul {
  font-size: 0;
  padding: 0;
  width: 95%;
}

.App > .whatisIz > .Iz_report > ul > li {
  display: inline-block;
  vertical-align: top;
  width: 33.3%;
}

.App > .whatisIz > .Iz_report > ul > li > .gif_list {
  display: block;
  width: auto;
  margin: 5px;
}

.App > .whatisIz > .Iz_report > ul > li > .gif_list:hover > .iz_gif > .top {
  bottom: 52%;
}

.App > .whatisIz > .Iz_report > ul > li > .gif_list:hover > .iz_gif > .bottom {
  top: 52%;
}

.App > .whatisIz > .Iz_report > ul > li > .gif_list > .iz_gif {
  position: relative;
  overflow: hidden;
}

.App > .whatisIz > .Iz_report > ul > li > .gif_list > .iz_gif > .top {
  position: absolute;
  bottom: 150%;
  left: 30px;
  z-index: 2;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.App > .whatisIz > .Iz_report > ul > li > .gif_list > .iz_gif > .bottom {
  position: absolute;
  top: 150%;
  left: 30px;
  z-index: 2;
  color: #fff;
  font-size: 12px;
}

.App > .whatisIz > .Iz_report > ul > li > .gif_list > .iz_gif img {
  width: 100%;
  margin-right: 20px;
  margin-bottom: 15px;
}

.custom-shape-divider-top-1635920827 {
  position: relative;
  top: -7%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1635920827 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1635920827 .shape-fill {
  fill: #99b5d4;
}
